* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    position: relative;
}

nav {

    background-color: #fff;
    height: 60px;
    padding: 15px 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    box-shadow: 0 0 5px 0 #ebebeb;

    z-index: 5;
}

#nav-title {
    cursor: pointer;
}

#nav-title a {
    text-decoration: none;
    color: #1e1a4b;
    font-size: 1rem;
    font-weight: 800;
}

#nav-title a i {
    color: #27AE60;
    font-size: 1.5rem;
}

#toggle {
    display: none;
}

#bars {
    font-size: 1.5rem;
    display: none;
}

#nav-link {
    display: flex;
    gap: 1em;
}

#nav-link li {
    list-style-type: none;
}

#nav-link li a {
    text-decoration: none;
    color: #666;
    font-weight: 500;
    transition: .5s;
}

#nav-link li a:hover {
    color: #27AE60;
}

#nav-social i {
    font-size: 1.2rem;
    background-color: #F7F7F7;
    padding: 10px 15px;
    border-radius: 5px;
    transition: .5s;
}

#nav-social i:hover {
    background-color: #27AE60;
    color: #F7F7F7;
}


/* Header */
#welcome {
    padding: 20% 5% 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 0 0 100px 0;
}

#welcome-text {
    width: 50%;
}

#welcome-text h2 {
    color: #27AE60;
    font-size: .9rem;
    margin: 0 0 10px 0;
}

#welcome-text h3 {
    margin: 0 0 20px 0;
    font-size: 2rem;
}

#welcome-text p {
    color: gray;
    opacity: .7;
    margin: 0 0 20px 0;
}

#welcome-text button {
    background-color: #27AE60;
    color: #fff;
    border: 1px solid transparent;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 1.1rem;
    margin: 0 0 20px 0;
    transition: .8s;
}

#welcome-text button:hover {
    background-color: #130F40;
}

#welcome-img {
    width: 50%;
}

#welcome-img img {
    width: 100%;
}


/* Choose */
#choose-parent {
    background-color: #F7F7F7;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;

    margin: 0 0 5em 0;
}

#choose-img {
    width: 100%;
}

#choose-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#choose-text {
    width: 100%;
}

#choose-text-detail h2 {
    color: #27AE60;
    font-size: .9rem;
    margin: 0 0 10px 0;
}

#choose-text-detail h3 {
    font-size: 2rem;
    margin: 0 0 20px 0;
}

#choose-text-detail p {
    font-size: .9rem;
    opacity: .7;
    margin: 0 0 10px 0;
}


#choose-text-detail button {
    background-color: #27AE60;
    color: #fff;
    border: 1px solid transparent;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 1.1rem;
    margin: 0 0 20px 0;
    transition: .8s;
}

#choose-text-detail button:hover {
    background-color: #130F40;
}

#choice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.choice-item {
    text-align: center;
    box-shadow: 0 0 10px 0 rgb(236, 236, 236);
    padding: 1em;
}

.choice-item p {
    font-weight: 600;
}


/* Menu */
#menu-title {
    text-align: center;
}

#menu-title h3 {
    color: #27AE60;
    margin: 0 0 10px 0;
}

#menu-title h2 {
    font-size: 1.9rem;
    margin: 0 0 40px 0;
}

#menu-parent {
    padding: 0 5% 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    margin: 0 0 100px 0;
}

.menu-item {
    background-color: #F7F7F7;
    padding: 35px 30px;
    display: flex;
    align-items: center;
    gap: 2em;
    border-radius: 10px;
}

.menu-item-img img {
    width: 100px;
    height: 100px;
}

.menu-item-title p {
    font-size: 1.1rem;
    font-weight: 600;
    color: #130F40;
    margin: 0 0 10px 0;
}

.menu-item-title span {
    font-weight: 800;
    color: #27AE60;
}

#special {
    padding: 0 5%;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    margin: 0 0 6em 0;
}

.special-item {
    width: 320px;
    text-align: center;
    background-color: #F7F7F7;
    padding: 2%;
    border-radius: 1em;
}

.favourite {
    text-align: right;
}

.favourite i {
    cursor: pointer;
    font-size: 1.9rem;
    color: gray;
    transition: .5s;
}

.favourite i:hover {
    color: #27AE60;
}


.special-item h3 {
    font-size: 1.2rem;
    margin: 0 0 10px 0;
}

.special-review {
    margin: 0 0 10px 0;
}

.special-review i {
    color: #FFD700;
}

.special-review span {
    color: gray;
    opacity: .5;
}

.special-item p {
    margin: 0 0 20px 0;
    color: rgb(92, 90, 90);
    font-weight: 600;
}

.special-item p del {
    font-size: .7rem;
}

.special-item button {
    border: 1px solid transparent;
    background-color: #27AE60;
    color: #fff;
    padding: .5em 1.1em;
    border-radius: .3em;
    font-size: 1.1rem;
    transition: .5s;
}

.special-item button:hover {
    border: 1px solid #27AE60;
    background-color: transparent;
    color: #27AE60;
}

/* Blog */

#blog-parent {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin: 0 0 5em 0;
}

.blog-item {
    background-color: #F7F7F7;
    width: 350px;
}

.blog-item img {
    width: 100%;
    border-radius: 1em 1em 0 0;
}

.tag {
    padding: 7px 0 7px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.tag-item {
    display: flex;
    align-items: center;
}

.tag-item i {
    color: #27AE60;
}

.tag-item p {
    color: gray;
    opacity: .7;
}

.blog-item h2,
.blog-item p {
    margin: 7px 0 7px 15px;
}

.blog-item button {
    border: 1px solid transparent;
    border-radius: .3em;
    background-color: #27AE60;
    color: #fff;
    padding: 7px 10px;
    font-size: 1.1rem;
    margin: 7px 0 20px 15px;
    transition: .5s;
}

.blog-item button:hover {
    background-color: #130F40;
}



/* Scroll bar design */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #27AE60;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #F7F7F7;
    border-radius: 10px;
}